SUPABASE_URL=https://ptdpdobvwivptpnnhafp.supabase.co/
SUPABASE_SERVICE_ROLE_KEY=sb_secret_jBM62DeoeZ2uF3tWc4ZnOA_2JkZws25
RENDER_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0ZHBkb2J2d2l2cHRwbm5oYWZwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDkwMTc0MiwiZXhwIjoyMTAwNDc3NzQyfQ.zkrMY7OG0DzZEDXqFEq94bqs_vnO9dqGpU7roJ1G8Bo
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RENDER_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
